<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
   <RunConfiguration>
    <!-- Path relative to the build script -->
    <ResultsDirectory>.\Tests</ResultsDirectory>
  </RunConfiguration>
  <!-- MSTest adapter -->
  <MSTest>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>
    
</RunSettings>